<form class="search-container" autocomplete="off">
  <input
    type="text"
    id="searchText"
    name="searchText"
    [formControl]="searchText"
    placeholder="Search Todos"
    onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search Todos'"
    (click)="setIsMenuOpen()"
    [ngClass]="{ 'open-search-menu': isMenuOpen }"
    #searchInput
    tabindex="0"
    (keydown)="$event.target.click()"
  /><i data-feather="search"></i>
  <div
    class="search-results"
    [ngClass]="{ 'open-results-menu': isMenuOpen }"
    #searchResults
  >
    <app-todo-card
      *ngFor="let todo of unfinished | async | appFilter: this.searchText.value"
      [todo]="todo"
    ></app-todo-card>
  </div>
</form>
