@import '../../../styles/colors';
@import '../../../styles/variables';

.todo-list {
    margin: 0 auto;
    max-width: 900px;
    min-height: 900px;
    box-shadow: 0  0 5px 5px  rgba(0, 0, 0, 0.15);
    border-radius: $borderRadius;
  }